*{
    padding:0;
    margin: 0;
}

p{
    margin: 0;
}

ul,ol{
    list-style: none;
}

html{
    min-width: 320px;
}

.body1{
    background-color: #f0f0f0; 
}

.body2{
    background-color: #29bde0;
}

i{
    width: 20px;
    height: 20px;
    background: url('css_sprites7.png');
    float: left;
}

header{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

.head{
    background-color: #29bde0;
    height:4rem;
    position: relative;
    font-size: 1.6rem;
}

.cat-1 {
    background-position: -90px -10px;
}

.cat-1,.cat-2,.cat-4{
    position: absolute;
    left: 2rem;
    top:1rem;
}

.last{
    background-color: #fff;
    margin: 1rem;
    padding: 1.5rem;
    border: 1px solid #e1e5e7;
    text-align: center;
    font-size: 1.8rem;
}

.last a{
        color:#9a9a9a;
}

.back{
    background-position: -50px -10px;
    float: right;
}

.main1{
    margin-top: 11.5rem;
    background-color: #fff;
    height:100%;
}

.name{
    height:4rem;
    border-bottom:1px solid #fbb435 ;
    line-height: 4rem;
    color: #fbb435;
    text-align: center;
    font-size: 1.8rem;
}

.btn-group-vertical{
    width: 100%;
}

.btn-group-vertical>.btn{
    background-color: #69d1e9;
    color: white;
    margin:1rem 3rem;
    width: calc(100% - 6rem);
    height:5rem;
}

.btn-group-vertical p{
    text-align: center;
    color:#9a9a9a;
}

.next{
    background-position:-10px -50px ;
    position:fixed;
    top:26.5rem;
    right:0.5rem;
    zoom:1.2;
}

.child{
    width:10px;
    height: 10px;
    border-radius: 5px;
    background-color: #e1e5e7;
    margin:0.3rem;
}

.circle{
    display: flex;
    flex-flow: wrap row;
    justify-content: center;
    margin-bottom: 1rem;
}

.first{
    background-color: #69d1e9;
}
a:hover{
    background-color: #69d1e9;
}

.circle:hover .first{
    background-color: #e1e5e7;
}

.first:hover{
    background-color: #69d1e9;
}

.cat-2{
    background-position: -90px -10px;
}

.head p{
    text-align: center;
    line-height: 4rem;
    color: white;
}

.cat-3 {
    background-position: -130px -50px;
}

.cat-3,.cat-5{
    position:absolute;
    top:1rem;
    right:1rem;
}

.cat-4{
    background-position: -50px -50px;
}

.cat-5{
    background-position: -90px -50px;
}

.start{
    background-color: #b9e9f5;
    height:4rem;
}

.end {
    padding-left: 3rem;
    line-height: 4rem;
}

.cat-6{
    background-position: -90px -90px;
    zoom:1.5;
    float: right;
    margin: 0.6rem 1rem 0 0;
}

audio{
    visibility: hidden;
}


.triangle {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 10px solid #b9e9f5;
    margin-left: 3rem;
}
.start div{
    background: #29bde0;

}

.most{
    color: white;
    font-size: 1.2rem;
    padding-left: 3.5rem;
    height:2rem;
    line-height: 2rem;
}

.main2{
    margin-top: 12rem;
    margin-bottom: 8rem;
}

.square{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    height: 8rem;
    margin-bottom: 3rem;

}

.box1 {
    height: 8rem;
    width: 8rem;
    background-color: #f5c97b;
    border: 3px solid white;
    text-align: center;
}


.top{
    height:5.5rem;
    line-height: 5.5rem;
    font-size: 1.8rem;
}

.bottom{
    height:2rem;
    line-height:2rem;
    background-color: #83b09a;
    color: white;
}

.cat-10{
    background-position: -10px -90px;
}

.cat-7,.cat-9{
    background-position: -130px -10px;
}

.cat-8{
    background-position: -50px -90px;
}

.box2{
    visibility: hidden;
}

.box2 i{
    margin:1rem  0.1rem;
}

.box1:hover .box2 {
   visibility: visible;
}

.navbar-fixed-bottom {
    height: 8rem;
    background-color: #29bde0;
    position: fixed;
    bottom: 0;
    left: calc((33.3% - 8rem) / 2);
    right: calc((33.3% - 8rem) / 2);
}

nav .btn{
    height:5rem;
    width:80%;
    background-color: #fbb435;
    line-height: 4.5rem;
    font-size: 2rem;
    color: white;
    position: absolute;
    bottom: 1.5rem;
    left:10%;

}

.body3{
    color: white;
}

.main3{
    margin-top: 4rem;
    background-color: #29bde0;
}

.img{
    background:url("success.png") no-repeat 50% ;
    background-size: 15rem 10rem;
    width: 100%;
    text-align: center;
    height:10rem;

}

.img span{
    position: relative;
    top:6.5rem ;
    font-size: 2.5rem;

}

.result{
    padding:1rem 4rem;
    margin: 0;
}

.rax{
    height:8rem;
    font-size: 1.8rem;
    color:#ffc865;
}

.time{
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    padding: 0 4rem;
}

.event{
    color:#a6a6a6;
    border-bottom: 1px solid #dddddd;
    padding: 1rem 4rem;

}

.left{
    color: #515151;
}
.right{
    color: #e0e0e0;
}

nav li{
    margin: 1rem 0;
}

nav{
    margin-bottom: 6rem;
}

footer{
    background: rgba(144,215,232,0.5);
    position: fixed;
    bottom: 0;
    height:6rem;
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content:space-around;
    align-items: center;
}

footer .btn-default{
    margin:0 1rem;
    width:45%;
    height:4rem;
    line-height: 3rem;
    font-size: 1.8rem;
    color: white;
}

#left{
    background-color: #f66f6f;
}

#right{
    background-color: #fbb435;
}

.box1,.box2,.cat-6{
    cursor: pointer;
}